DATABASE_URL="postgresql://postgres:postgres@localhost:5432/warehouse_mvp?schema=public"
NEXT_PUBLIC_API_BASE_URL="http://localhost:3001/api"
PORT=3001
# 建议生产环境设置为 "production"
NODE_ENV="development"
# 必须替换为高强度随机字符串
JWT_ACCESS_SECRET="dev_access_secret"
# 必须替换为高强度随机字符串
JWT_REFRESH_SECRET="dev_refresh_secret"
